<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>
    <ul>
        <!-- حلقه برای نمایش هر کاربر -->
        <% users.forEach(user => { %>
            <li>
                <strong>Name:</strong> <%= user.name %> <br>
                <strong>Age:</strong> <%= user.age %>
            </li>
        <% }) %>
    </ul>
</body>
</html>
